<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BounceAnim</key>
	<dict>
		<key>animationFrames</key>
		<string>76-80</string>
		<key>delay</key>
		<real>0.04</real>
		<key>filenamePrefix</key>
		<string>sky_bounce</string>
	</dict>
	<key>BurningAnim</key>
	<dict>
		<key>animationFrames</key>
		<string>74-89</string>
		<key>delay</key>
		<real>0.04</real>
		<key>filenamePrefix</key>
		<string>death-sky</string>
	</dict>
	<key>FallingAnim</key>
	<dict>
		<key>animationFrames</key>
		<string>1-24</string>
		<key>delay</key>
		<real>0.04</real>
		<key>filenamePrefix</key>
		<string>sky_falling</string>
	</dict>
    <key>FallingNightAnim</key>
	<dict>
		<key>animationFrames</key>
		<string>1-24</string>
		<key>delay</key>
		<real>0.04</real>
		<key>filenamePrefix</key>
		<string>falling-night</string>
	</dict>
	<key>beeAttackAnim</key>
	<dict>
		<key>animationFrames</key>
		<string>1-18</string>
		<key>delay</key>
		<real>0.04</real>
		<key>filenamePrefix</key>
		<string>sky_beesattack</string>
	</dict>
	<key>ParachuteOnceAnim</key>
	<dict>
		<key>animationFrames</key>
		<string>1-10</string>
		<key>delay</key>
		<real>0.04</real>
		<key>filenamePrefix</key>
		<string>parachutte</string>
	</dict>
	<key>ParachuteRepeatAnim</key>
	<dict>
		<key>animationFrames</key>
		<string>11-16</string>
		<key>delay</key>
		<real>0.04</real>
		<key>filenamePrefix</key>
		<string>parachutte</string>
	</dict>
</dict>
</plist>
