<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>death-sky00074.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,1004},{112,116}}</string>
                <key>offset</key>
                <string>{-11,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{369,212},{112,116}}</string>
                <key>sourceSize</key>
                <string>{112,116}</string>
            </dict>
            <key>death-sky00075.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1106},{112,116}}</string>
                <key>offset</key>
                <string>{-11,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{369,212},{112,116}}</string>
                <key>sourceSize</key>
                <string>{112,116}</string>
            </dict>
            <key>death-sky00076.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,1004},{112,116}}</string>
                <key>offset</key>
                <string>{-12,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{368,212},{112,116}}</string>
                <key>sourceSize</key>
                <string>{112,116}</string>
            </dict>
            <key>death-sky00077.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,1058},{110,116}}</string>
                <key>offset</key>
                <string>{-12,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{369,212},{110,116}}</string>
                <key>sourceSize</key>
                <string>{110,116}</string>
            </dict>
            <key>death-sky00078.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,742},{110,118}}</string>
                <key>offset</key>
                <string>{-13,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{368,210},{110,118}}</string>
                <key>sourceSize</key>
                <string>{110,118}</string>
            </dict>
            <key>death-sky00079.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,640},{110,118}}</string>
                <key>offset</key>
                <string>{-14,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{367,210},{110,118}}</string>
                <key>sourceSize</key>
                <string>{110,118}</string>
            </dict>
            <key>death-sky00080.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,640},{108,118}}</string>
                <key>offset</key>
                <string>{-15,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{367,209},{108,118}}</string>
                <key>sourceSize</key>
                <string>{108,118}</string>
            </dict>
            <key>death-sky00081.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,748},{106,118}}</string>
                <key>offset</key>
                <string>{-16,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{367,209},{106,118}}</string>
                <key>sourceSize</key>
                <string>{106,118}</string>
            </dict>
            <key>death-sky00082.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,813},{104,118}}</string>
                <key>offset</key>
                <string>{-16,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{368,209},{104,118}}</string>
                <key>sourceSize</key>
                <string>{104,118}</string>
            </dict>
            <key>death-sky00083.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1004},{102,118}}</string>
                <key>offset</key>
                <string>{-17,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{368,209},{102,118}}</string>
                <key>sourceSize</key>
                <string>{102,118}</string>
            </dict>
            <key>death-sky00084.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,960},{102,118}}</string>
                <key>offset</key>
                <string>{-18,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{367,209},{102,118}}</string>
                <key>sourceSize</key>
                <string>{102,118}</string>
            </dict>
            <key>death-sky00085.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,711},{102,120}}</string>
                <key>offset</key>
                <string>{-19,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{366,207},{102,120}}</string>
                <key>sourceSize</key>
                <string>{102,120}</string>
            </dict>
            <key>death-sky00086.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,711},{102,120}}</string>
                <key>offset</key>
                <string>{-19,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{366,207},{102,120}}</string>
                <key>sourceSize</key>
                <string>{102,120}</string>
            </dict>
            <key>death-sky00087.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,640},{102,120}}</string>
                <key>offset</key>
                <string>{-19,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{366,207},{102,120}}</string>
                <key>sourceSize</key>
                <string>{102,120}</string>
            </dict>
            <key>death-sky00088.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,960},{102,118}}</string>
                <key>offset</key>
                <string>{-18,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{367,209},{102,118}}</string>
                <key>sourceSize</key>
                <string>{102,118}</string>
            </dict>
            <key>death-sky00089.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,956},{102,118}}</string>
                <key>offset</key>
                <string>{-17,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{368,209},{102,118}}</string>
                <key>sourceSize</key>
                <string>{102,118}</string>
            </dict>
            <key>death-space00074.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,1062},{114,114}}</string>
                <key>offset</key>
                <string>{-13,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{366,212},{114,114}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>death-space00075.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1442},{114,114}}</string>
                <key>offset</key>
                <string>{-13,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{366,212},{114,114}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>death-space00076.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,1334},{114,114}}</string>
                <key>offset</key>
                <string>{-14,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{365,212},{114,114}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>death-space00077.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,1332},{114,114}}</string>
                <key>offset</key>
                <string>{-14,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{365,212},{114,114}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>death-space00078.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,1247},{112,114}}</string>
                <key>offset</key>
                <string>{-14,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{366,212},{112,114}}</string>
                <key>sourceSize</key>
                <string>{112,114}</string>
            </dict>
            <key>death-space00079.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,1021},{112,116}}</string>
                <key>offset</key>
                <string>{-16,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{364,210},{112,116}}</string>
                <key>sourceSize</key>
                <string>{112,116}</string>
            </dict>
            <key>death-space00080.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1218},{110,116}}</string>
                <key>offset</key>
                <string>{-16,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{365,210},{110,116}}</string>
                <key>sourceSize</key>
                <string>{110,116}</string>
            </dict>
            <key>death-space00081.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,1226},{108,116}}</string>
                <key>offset</key>
                <string>{-17,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{365,210},{108,116}}</string>
                <key>sourceSize</key>
                <string>{108,116}</string>
            </dict>
            <key>death-space00082.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,1224},{108,116}}</string>
                <key>offset</key>
                <string>{-18,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{364,210},{108,116}}</string>
                <key>sourceSize</key>
                <string>{108,116}</string>
            </dict>
            <key>death-space00083.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,854},{106,118}}</string>
                <key>offset</key>
                <string>{-19,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{364,208},{106,118}}</string>
                <key>sourceSize</key>
                <string>{106,118}</string>
            </dict>
            <key>death-space00084.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,917},{104,118}}</string>
                <key>offset</key>
                <string>{-19,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{365,208},{104,118}}</string>
                <key>sourceSize</key>
                <string>{104,118}</string>
            </dict>
            <key>death-space00085.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,917},{104,118}}</string>
                <key>offset</key>
                <string>{-20,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{364,208},{104,118}}</string>
                <key>sourceSize</key>
                <string>{104,118}</string>
            </dict>
            <key>death-space00086.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,856},{104,118}}</string>
                <key>offset</key>
                <string>{-20,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{364,208},{104,118}}</string>
                <key>sourceSize</key>
                <string>{104,118}</string>
            </dict>
            <key>death-space00087.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,852},{104,118}}</string>
                <key>offset</key>
                <string>{-20,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{364,208},{104,118}}</string>
                <key>sourceSize</key>
                <string>{104,118}</string>
            </dict>
            <key>death-space00088.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,813},{104,118}}</string>
                <key>offset</key>
                <string>{-19,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{365,208},{104,118}}</string>
                <key>sourceSize</key>
                <string>{104,118}</string>
            </dict>
            <key>death-space00089.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,750},{106,118}}</string>
                <key>offset</key>
                <string>{-19,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{364,208},{106,118}}</string>
                <key>sourceSize</key>
                <string>{106,118}</string>
            </dict>
            <key>death-space00090.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,1133},{108,116}}</string>
                <key>offset</key>
                <string>{-18,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{364,210},{108,116}}</string>
                <key>sourceSize</key>
                <string>{108,116}</string>
            </dict>
            <key>death-space00091.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,1116},{108,116}}</string>
                <key>offset</key>
                <string>{-17,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{365,210},{108,116}}</string>
                <key>sourceSize</key>
                <string>{108,116}</string>
            </dict>
            <key>death-space00092.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,1116},{110,116}}</string>
                <key>offset</key>
                <string>{-16,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{365,210},{110,116}}</string>
                <key>sourceSize</key>
                <string>{110,116}</string>
            </dict>
            <key>death-space00093.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,1021},{112,116}}</string>
                <key>offset</key>
                <string>{-16,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{364,210},{112,116}}</string>
                <key>sourceSize</key>
                <string>{112,116}</string>
            </dict>
            <key>death-space00094.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,1168},{112,114}}</string>
                <key>offset</key>
                <string>{-14,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{366,212},{112,114}}</string>
                <key>sourceSize</key>
                <string>{112,114}</string>
            </dict>
            <key>death-space00095.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,1241},{114,114}}</string>
                <key>offset</key>
                <string>{-14,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{365,212},{114,114}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>death-space00096.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,1133},{114,114}}</string>
                <key>offset</key>
                <string>{-14,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{365,212},{114,114}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>death-space00097.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1328},{114,114}}</string>
                <key>offset</key>
                <string>{-13,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{366,212},{114,114}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>death-space00098.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,1062},{114,114}}</string>
                <key>offset</key>
                <string>{-13,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{366,212},{114,114}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>deathscreen.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{640,960}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,960}}</string>
                <key>sourceSize</key>
                <string>{640,960}</string>
            </dict>
            <key>deathscreen_score_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,640},{364,364}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,364}}</string>
                <key>sourceSize</key>
                <string>{364,364}</string>
            </dict>
            <key>gameover_placard.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,640},{268,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,71}}</string>
                <key>sourceSize</key>
                <string>{268,71}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>death_menu_items-hd.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a31f5858fb6888f9502b9214da8c5c22$</string>
            <key>textureFileName</key>
            <string>death_menu_items-hd.png</string>
        </dict>
    </dict>
</plist>
