<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>trashAnim</key>
	<dict>
		<key>animationFrames</key>
		<string>1-3</string>
		<key>delay</key>
		<real>0.1</real>
		<key>filenamePrefix</key>
		<string>trash</string>
	</dict>
	<key>trashCrashAnim</key>
	<dict>
		<key>animationFrames</key>
		<string>1-1</string>
		<key>delay</key>
		<real>0.04</real>
		<key>filenamePrefix</key>
		<string>trash_crash</string>
	</dict>
	<key>satelliteAnim</key>
	<dict>
		<key>animationFrames</key>
		<string>1-2</string>
		<key>delay</key>
		<real>0.8</real>
		<key>filenamePrefix</key>
		<string>satellite</string>
	</dict>
	<key>satelliteCrashAnim</key>
	<dict>
		<key>animationFrames</key>
		<string>1-1</string>
		<key>delay</key>
		<real>0.04</real>
		<key>filenamePrefix</key>
		<string>satellite_crash</string>
	</dict>
	<key>alienFlyingAnim</key>
	<dict>
		<key>animationFrames</key>
		<string>1-6</string>
		<key>delay</key>
		<real>0.04</real>
		<key>filenamePrefix</key>
		<string>alien</string>
	</dict>
	<key>alienCrashAnim</key>
	<dict>
		<key>animationFrames</key>
		<string>1-1</string>
		<key>delay</key>
		<real>0.04</real>
		<key>filenamePrefix</key>
		<string>alien_crash</string>
	</dict>
	<key>umbrellaCrashAnim</key>
	<dict>
		<key>animationFrames</key>
		<string>2-2</string>
		<key>delay</key>
		<real>0.04</real>
		<key>filenamePrefix</key>
		<string>umbrella</string>
	</dict>
	<key>umbrellaFlyingAnim</key>
	<dict>
		<key>animationFrames</key>
		<string>1-1</string>
		<key>delay</key>
		<real>0.04</real>
		<key>filenamePrefix</key>
		<string>umbrella</string>
	</dict>
	<key>blackHoleAnim</key>
	<dict>
		<key>animationFrames</key>
		<string>1-5</string>
		<key>delay</key>
		<real>0.04</real>
		<key>filenamePrefix</key>
		<string>black_hole</string>
	</dict>
	<key>birdFlyingAnim</key>
	<dict>
		<key>animationFrames</key>
		<string>1-6</string>
		<key>delay</key>
		<real>0.04</real>
		<key>filenamePrefix</key>
		<string>bird</string>
	</dict>
	<key>pigeonFlyingAnim</key>
	<dict>
		<key>animationFrames</key>
		<string>1-6</string>
		<key>delay</key>
		<real>0.04</real>
		<key>filenamePrefix</key>
		<string>pigeon</string>
	</dict>
	<key>batFlyingAnim</key>
	<dict>
		<key>animationFrames</key>
		<string>1-9</string>
		<key>delay</key>
		<real>0.04</real>
		<key>filenamePrefix</key>
		<string>bat</string>
	</dict>
	<key>beesFlyingAnim</key>
	<dict>
		<key>animationFrames</key>
		<string>1-12</string>
		<key>delay</key>
		<real>0.04</real>
		<key>filenamePrefix</key>
		<string>bees</string>
	</dict>
	<key>fireworkFlyingAnim</key>
	<dict>
		<key>animationFrames</key>
		<string>8-9</string>
		<key>delay</key>
		<real>0.04</real>
		<key>filenamePrefix</key>
		<string>firework</string>
	</dict>
	<key>fireworkCrashAnim</key>
	<dict>
		<key>animationFrames</key>
		<string>10-24</string>
		<key>delay</key>
		<real>0.04</real>
		<key>filenamePrefix</key>
		<string>firework</string>
	</dict>
	<key>pigFlyingAnim</key>
	<dict>
		<key>animationFrames</key>
		<string>1-24</string>
		<key>delay</key>
		<real>0.04</real>
		<key>filenamePrefix</key>
		<string>pig</string>
	</dict>
	<key>planeFlyingAnim</key>
	<dict>
		<key>animationFrames</key>
		<string>1-2</string>
		<key>delay</key>
		<real>0.04</real>
		<key>filenamePrefix</key>
		<string>plane</string>
	</dict>
	<key>lightningBallAnim</key>
	<dict>
		<key>animationFrames</key>
		<string>1-12</string>
		<key>delay</key>
		<real>0.04</real>
		<key>filenamePrefix</key>
		<string>lightningball</string>
	</dict>
	<key>owlFlyingAnim</key>
	<dict>
		<key>animationFrames</key>
		<string>1-5</string>
		<key>delay</key>
		<real>0.04</real>
		<key>filenamePrefix</key>
		<string>owl</string>
	</dict>
	<key>glowbugFlyingAnim</key>
	<dict>
		<key>animationFrames</key>
		<string>1-24</string>
		<key>delay</key>
		<real>0.05</real>
		<key>filenamePrefix</key>
		<string>glowbug</string>
	</dict>
	<key>reloadFlyingAnim</key>
	<dict>
		<key>animationFrames</key>
		<string>1-8</string>
		<key>delay</key>
		<real>0.06</real>
		<key>filenamePrefix</key>
		<string>parachute_reload</string>
	</dict>
	<key>reloadRocketFlyingAnim</key>
	<dict>
		<key>animationFrames</key>
		<string>1-8</string>
		<key>delay</key>
		<real>0.06</real>
		<key>filenamePrefix</key>
		<string>rocket_reload</string>
	</dict>
</dict>
</plist>
