<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>alienmenu00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,1940},{93,71}}</string>
                <key>offset</key>
                <string>{0,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{93,71}}</string>
                <key>sourceSize</key>
                <string>{93,71}</string>
            </dict>
            <key>alienmenu00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,480},{115,163}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{115,163}}</string>
                <key>sourceSize</key>
                <string>{115,163}</string>
            </dict>
            <key>alienmenu00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,365},{115,163}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{115,163}}</string>
                <key>sourceSize</key>
                <string>{115,163}</string>
            </dict>
            <key>alienmenu00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,250},{115,163}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{115,163}}</string>
                <key>sourceSize</key>
                <string>{115,163}</string>
            </dict>
            <key>avoid.png</key>
            <dict>
                <key>frame</key>
                <string>{{1930,1564},{77,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,77}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>back_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1687,686},{201,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,67}}</string>
                <key>sourceSize</key>
                <string>{201,67}</string>
            </dict>
            <key>back_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1999,371},{142,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,49}}</string>
                <key>sourceSize</key>
                <string>{142,49}</string>
            </dict>
            <key>back_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1989,681},{72,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,43}}</string>
                <key>sourceSize</key>
                <string>{72,43}</string>
            </dict>
            <key>banner.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,972},{633,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{633,65}}</string>
                <key>sourceSize</key>
                <string>{633,65}</string>
            </dict>
            <key>building_sides_tops.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,911},{640,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,61}}</string>
                <key>sourceSize</key>
                <string>{640,61}</string>
            </dict>
            <key>chute.png</key>
            <dict>
                <key>frame</key>
                <string>{{1989,606},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>city.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,600},{640,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,188}}</string>
                <key>sourceSize</key>
                <string>{640,188}</string>
            </dict>
            <key>crack.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,788},{640,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,123}}</string>
                <key>sourceSize</key>
                <string>{640,123}</string>
            </dict>
            <key>deathscreen_score_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1659,1200},{364,364}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,364}}</string>
                <key>sourceSize</key>
                <string>{364,364}</string>
            </dict>
            <key>easy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1763,451},{226,366}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,366}}</string>
                <key>sourceSize</key>
                <string>{226,366}</string>
            </dict>
            <key>front_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1322,1179},{341,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,117}}</string>
                <key>sourceSize</key>
                <string>{341,117}</string>
            </dict>
            <key>front_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1763,371},{236,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,80}}</string>
                <key>sourceSize</key>
                <string>{236,80}</string>
            </dict>
            <key>front_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,1940},{152,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,89}}</string>
                <key>sourceSize</key>
                <string>{152,89}</string>
            </dict>
            <key>gameover_placard.png</key>
            <dict>
                <key>frame</key>
                <string>{{1763,300},{268,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,71}}</string>
                <key>sourceSize</key>
                <string>{268,71}</string>
            </dict>
            <key>hard.png</key>
            <dict>
                <key>frame</key>
                <string>{{1754,817},{226,362}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{226,362}}</string>
                <key>sourceSize</key>
                <string>{226,362}</string>
            </dict>
            <key>instructions1.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,125},{125,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,172}}</string>
                <key>sourceSize</key>
                <string>{125,172}</string>
            </dict>
            <key>instructions2.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,0},{125,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,172}}</string>
                <key>sourceSize</key>
                <string>{125,172}</string>
            </dict>
            <key>instructions_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,1403},{322,455}}</string>
                <key>offset</key>
                <string>{-1,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,20},{322,455}}</string>
                <key>sourceSize</key>
                <string>{322,455}</string>
            </dict>
            <key>jetpack.png</key>
            <dict>
                <key>frame</key>
                <string>{{1989,652},{29,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,44}}</string>
                <key>sourceSize</key>
                <string>{29,44}</string>
            </dict>
            <key>jetpack_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1687,947},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>jetpackmenu00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,595},{158,154}}</string>
                <key>offset</key>
                <string>{-62,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{295,156},{158,154}}</string>
                <key>sourceSize</key>
                <string>{158,154}</string>
            </dict>
            <key>jetpackmenu00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,1501},{112,140}}</string>
                <key>offset</key>
                <string>{-65,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{315,170},{112,140}}</string>
                <key>sourceSize</key>
                <string>{112,140}</string>
            </dict>
            <key>jetpackmenu00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1096,1509},{114,142}}</string>
                <key>offset</key>
                <string>{-66,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{313,169},{114,142}}</string>
                <key>sourceSize</key>
                <string>{114,142}</string>
            </dict>
            <key>jetpackmenu00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1322,1037},{118,142}}</string>
                <key>offset</key>
                <string>{-67,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{310,172},{118,142}}</string>
                <key>sourceSize</key>
                <string>{118,142}</string>
            </dict>
            <key>jetpackmenu00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,1359},{116,142}}</string>
                <key>offset</key>
                <string>{-65,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{313,177},{116,142}}</string>
                <key>sourceSize</key>
                <string>{116,142}</string>
            </dict>
            <key>jetpackmenu00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1211,1359},{110,142}}</string>
                <key>offset</key>
                <string>{-60,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{321,180},{110,142}}</string>
                <key>sourceSize</key>
                <string>{110,142}</string>
            </dict>
            <key>jetpackmenu00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1210,1501},{112,146}}</string>
                <key>offset</key>
                <string>{-54,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{326,177},{112,146}}</string>
                <key>sourceSize</key>
                <string>{112,146}</string>
            </dict>
            <key>jetpackmenu00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1096,1359},{114,150}}</string>
                <key>offset</key>
                <string>{-51,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{328,172},{114,150}}</string>
                <key>sourceSize</key>
                <string>{114,150}</string>
            </dict>
            <key>jetpackmenu00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,749},{116,152}}</string>
                <key>offset</key>
                <string>{-54,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{324,169},{116,152}}</string>
                <key>sourceSize</key>
                <string>{116,152}</string>
            </dict>
            <key>jetpackmenu00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,865},{114,152}}</string>
                <key>offset</key>
                <string>{-61,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{318,170},{114,152}}</string>
                <key>sourceSize</key>
                <string>{114,152}</string>
            </dict>
            <key>jetpackmenu00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1940},{104,152}}</string>
                <key>offset</key>
                <string>{-65,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{319,170},{104,152}}</string>
                <key>sourceSize</key>
                <string>{104,152}</string>
            </dict>
            <key>jetpackmenu00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,1940},{90,152}}</string>
                <key>offset</key>
                <string>{-63,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{328,170},{90,152}}</string>
                <key>sourceSize</key>
                <string>{90,152}</string>
            </dict>
            <key>jetpackmenu00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1778,1564},{82,152}}</string>
                <key>offset</key>
                <string>{-61,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{334,169},{82,152}}</string>
                <key>sourceSize</key>
                <string>{82,152}</string>
            </dict>
            <key>jetpackmenu00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1626,1564},{82,152}}</string>
                <key>offset</key>
                <string>{-61,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{334,169},{82,152}}</string>
                <key>sourceSize</key>
                <string>{82,152}</string>
            </dict>
            <key>jetpackmenu00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1474,1564},{82,152}}</string>
                <key>offset</key>
                <string>{-61,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{334,170},{82,152}}</string>
                <key>sourceSize</key>
                <string>{82,152}</string>
            </dict>
            <key>jetpackmenu00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1322,1564},{82,152}}</string>
                <key>offset</key>
                <string>{-61,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{334,170},{82,152}}</string>
                <key>sourceSize</key>
                <string>{82,152}</string>
            </dict>
            <key>jetpackmenu00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1802,1646},{84,152}}</string>
                <key>offset</key>
                <string>{-62,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{332,170},{84,152}}</string>
                <key>sourceSize</key>
                <string>{84,152}</string>
            </dict>
            <key>jetpackmenu00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1718,1646},{84,152}}</string>
                <key>offset</key>
                <string>{-61,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{333,170},{84,152}}</string>
                <key>sourceSize</key>
                <string>{84,152}</string>
            </dict>
            <key>jetpackmenu00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1704,1798},{84,152}}</string>
                <key>offset</key>
                <string>{-61,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{333,170},{84,152}}</string>
                <key>sourceSize</key>
                <string>{84,152}</string>
            </dict>
            <key>jetpackmenu00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1631,1882},{84,152}}</string>
                <key>offset</key>
                <string>{-61,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{333,170},{84,152}}</string>
                <key>sourceSize</key>
                <string>{84,152}</string>
            </dict>
            <key>jetpackmenu00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1634,1646},{84,152}}</string>
                <key>offset</key>
                <string>{-61,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{333,170},{84,152}}</string>
                <key>sourceSize</key>
                <string>{84,152}</string>
            </dict>
            <key>jetpackmenu00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1552,1798},{84,152}}</string>
                <key>offset</key>
                <string>{-61,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{333,170},{84,152}}</string>
                <key>sourceSize</key>
                <string>{84,152}</string>
            </dict>
            <key>jetpackmenu00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,1858},{82,152}}</string>
                <key>offset</key>
                <string>{-61,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{334,170},{82,152}}</string>
                <key>sourceSize</key>
                <string>{82,152}</string>
            </dict>
            <key>jetpackmenu00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1547,1882},{84,152}}</string>
                <key>offset</key>
                <string>{-60,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{334,170},{84,152}}</string>
                <key>sourceSize</key>
                <string>{84,152}</string>
            </dict>
            <key>jetpackmenu00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{1463,1882},{84,152}}</string>
                <key>offset</key>
                <string>{-59,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{335,170},{84,152}}</string>
                <key>sourceSize</key>
                <string>{84,152}</string>
            </dict>
            <key>jetpackmenu00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{1550,1646},{84,152}}</string>
                <key>offset</key>
                <string>{-59,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{335,170},{84,152}}</string>
                <key>sourceSize</key>
                <string>{84,152}</string>
            </dict>
            <key>jetpackmenu00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{1466,1646},{84,152}}</string>
                <key>offset</key>
                <string>{-59,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{335,170},{84,152}}</string>
                <key>sourceSize</key>
                <string>{84,152}</string>
            </dict>
            <key>jetpackmenu00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,1065},{86,152}}</string>
                <key>offset</key>
                <string>{-60,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{333,170},{86,152}}</string>
                <key>sourceSize</key>
                <string>{86,152}</string>
            </dict>
            <key>jetpackmenu00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{1400,1798},{84,152}}</string>
                <key>offset</key>
                <string>{-61,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{333,170},{84,152}}</string>
                <key>sourceSize</key>
                <string>{84,152}</string>
            </dict>
            <key>jetpackmenu00029.png</key>
            <dict>
                <key>frame</key>
                <string>{{1379,1883},{84,152}}</string>
                <key>offset</key>
                <string>{-62,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{332,170},{84,152}}</string>
                <key>sourceSize</key>
                <string>{84,152}</string>
            </dict>
            <key>jetpackmenu00030.png</key>
            <dict>
                <key>frame</key>
                <string>{{1295,1883},{84,152}}</string>
                <key>offset</key>
                <string>{-61,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{333,170},{84,152}}</string>
                <key>sourceSize</key>
                <string>{84,152}</string>
            </dict>
            <key>jetpackmenu00031.png</key>
            <dict>
                <key>frame</key>
                <string>{{1382,1646},{84,152}}</string>
                <key>offset</key>
                <string>{-61,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{333,170},{84,152}}</string>
                <key>sourceSize</key>
                <string>{84,152}</string>
            </dict>
            <key>jetpackmenu00032.png</key>
            <dict>
                <key>frame</key>
                <string>{{1298,1647},{84,152}}</string>
                <key>offset</key>
                <string>{-61,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{333,170},{84,152}}</string>
                <key>sourceSize</key>
                <string>{84,152}</string>
            </dict>
            <key>jetpackmenu00033.png</key>
            <dict>
                <key>frame</key>
                <string>{{1248,1799},{84,152}}</string>
                <key>offset</key>
                <string>{-61,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{333,170},{84,152}}</string>
                <key>sourceSize</key>
                <string>{84,152}</string>
            </dict>
            <key>jetpackmenu00034.png</key>
            <dict>
                <key>frame</key>
                <string>{{1211,1887},{84,152}}</string>
                <key>offset</key>
                <string>{-61,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{333,170},{84,152}}</string>
                <key>sourceSize</key>
                <string>{84,152}</string>
            </dict>
            <key>jetpackmenu00035.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,1858},{82,152}}</string>
                <key>offset</key>
                <string>{-61,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{334,170},{82,152}}</string>
                <key>sourceSize</key>
                <string>{82,152}</string>
            </dict>
            <key>jetpackmenu00036.png</key>
            <dict>
                <key>frame</key>
                <string>{{1214,1647},{84,152}}</string>
                <key>offset</key>
                <string>{-60,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{334,170},{84,152}}</string>
                <key>sourceSize</key>
                <string>{84,152}</string>
            </dict>
            <key>jetpackmenu00037.png</key>
            <dict>
                <key>frame</key>
                <string>{{1130,1651},{84,152}}</string>
                <key>offset</key>
                <string>{-59,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{335,170},{84,152}}</string>
                <key>sourceSize</key>
                <string>{84,152}</string>
            </dict>
            <key>jetpackmenu00038.png</key>
            <dict>
                <key>frame</key>
                <string>{{1096,1803},{84,152}}</string>
                <key>offset</key>
                <string>{-59,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{335,170},{84,152}}</string>
                <key>sourceSize</key>
                <string>{84,152}</string>
            </dict>
            <key>jetpackmenu00039.png</key>
            <dict>
                <key>frame</key>
                <string>{{1046,1651},{84,152}}</string>
                <key>offset</key>
                <string>{-59,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{335,170},{84,152}}</string>
                <key>sourceSize</key>
                <string>{84,152}</string>
            </dict>
            <key>jetpackmenu00040.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,979},{86,152}}</string>
                <key>offset</key>
                <string>{-60,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{333,170},{86,152}}</string>
                <key>sourceSize</key>
                <string>{86,152}</string>
            </dict>
            <key>jetpackmenu00041.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,1641},{84,152}}</string>
                <key>offset</key>
                <string>{-61,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{333,170},{84,152}}</string>
                <key>sourceSize</key>
                <string>{84,152}</string>
            </dict>
            <key>jetpackmenu00042.png</key>
            <dict>
                <key>frame</key>
                <string>{{1659,1048},{84,152}}</string>
                <key>offset</key>
                <string>{-62,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{332,170},{84,152}}</string>
                <key>sourceSize</key>
                <string>{84,152}</string>
            </dict>
            <key>jetpackmenu00043.png</key>
            <dict>
                <key>frame</key>
                <string>{{1059,1940},{84,152}}</string>
                <key>offset</key>
                <string>{-61,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{333,170},{84,152}}</string>
                <key>sourceSize</key>
                <string>{84,152}</string>
            </dict>
            <key>jetpackmenu00044.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,1940},{84,152}}</string>
                <key>offset</key>
                <string>{-61,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{333,170},{84,152}}</string>
                <key>sourceSize</key>
                <string>{84,152}</string>
            </dict>
            <key>jetpackmenu00045.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,1319},{84,152}}</string>
                <key>offset</key>
                <string>{-61,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{333,170},{84,152}}</string>
                <key>sourceSize</key>
                <string>{84,152}</string>
            </dict>
            <key>jetpackmenu00046.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,1235},{84,152}}</string>
                <key>offset</key>
                <string>{-61,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{333,170},{84,152}}</string>
                <key>sourceSize</key>
                <string>{84,152}</string>
            </dict>
            <key>jetpackmenu00047.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,1151},{84,152}}</string>
                <key>offset</key>
                <string>{-61,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{333,170},{84,152}}</string>
                <key>sourceSize</key>
                <string>{84,152}</string>
            </dict>
            <key>jetpackmenu00048.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,1858},{82,152}}</string>
                <key>offset</key>
                <string>{-61,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{334,170},{82,152}}</string>
                <key>sourceSize</key>
                <string>{82,152}</string>
            </dict>
            <key>med.png</key>
            <dict>
                <key>frame</key>
                <string>{{1461,686},{226,362}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{226,362}}</string>
                <key>sourceSize</key>
                <string>{226,362}</string>
            </dict>
            <key>moon.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,1940},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1989,753},{40,36}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{40,36}}</string>
                <key>sourceSize</key>
                <string>{40,36}</string>
            </dict>
            <key>objective_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,1037},{322,501}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,21},{322,501}}</string>
                <key>sourceSize</key>
                <string>{322,501}</string>
            </dict>
            <key>parachutte.png</key>
            <dict>
                <key>frame</key>
                <string>{{1989,789},{37,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,35}}</string>
                <key>sourceSize</key>
                <string>{37,35}</string>
            </dict>
            <key>parachutte_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1687,887},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{1989,560},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>placard.png</key>
            <dict>
                <key>frame</key>
                <string>{{1763,0},{284,75}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,5},{284,75}}</string>
                <key>sourceSize</key>
                <string>{284,75}</string>
            </dict>
            <key>placard_facebook.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,1940},{294,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,86}}</string>
                <key>sourceSize</key>
                <string>{294,86}</string>
            </dict>
            <key>placard_facebook_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1461,600},{294,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,86}}</string>
                <key>sourceSize</key>
                <string>{294,86}</string>
            </dict>
            <key>placard_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1763,225},{284,75}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,5},{284,75}}</string>
                <key>sourceSize</key>
                <string>{284,75}</string>
            </dict>
            <key>placard_twitter.png</key>
            <dict>
                <key>frame</key>
                <string>{{1763,75},{284,75}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,5},{284,75}}</string>
                <key>sourceSize</key>
                <string>{284,75}</string>
            </dict>
            <key>placard_twitter_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1763,150},{284,75}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,5},{284,75}}</string>
                <key>sourceSize</key>
                <string>{284,75}</string>
            </dict>
            <key>rain.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,0},{600,942}}</string>
                <key>offset</key>
                <string>{16,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,0},{600,942}}</string>
                <key>sourceSize</key>
                <string>{600,942}</string>
            </dict>
            <key>rocket.png</key>
            <dict>
                <key>frame</key>
                <string>{{1989,513},{47,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,50}}</string>
                <key>sourceSize</key>
                <string>{47,50}</string>
            </dict>
            <key>star_field.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{640,980}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,980}}</string>
                <key>sourceSize</key>
                <string>{640,980}</string>
            </dict>
            <key>star_field2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,980},{640,960}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,960}}</string>
                <key>sourceSize</key>
                <string>{640,960}</string>
            </dict>
            <key>sun.png</key>
            <dict>
                <key>frame</key>
                <string>{{1440,1048},{208,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,219}}</string>
                <key>sourceSize</key>
                <string>{208,219}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>menu-clouds-hud-hd.png</string>
            <key>size</key>
            <string>{2048,2044}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4e13c5409734c576ca3d5a9af6add708$</string>
            <key>textureFileName</key>
            <string>menu-clouds-hud-hd.png</string>
        </dict>
    </dict>
</plist>
