<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>alienmenu00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,970},{47,37}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{47,37}}</string>
                <key>sourceSize</key>
                <string>{47,37}</string>
            </dict>
            <key>alienmenu00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,848},{57,81}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{57,81}}</string>
                <key>sourceSize</key>
                <string>{57,81}</string>
            </dict>
            <key>alienmenu00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,848},{57,83}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{57,83}}</string>
                <key>sourceSize</key>
                <string>{57,83}</string>
            </dict>
            <key>alienmenu00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,682},{57,83}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{57,83}}</string>
                <key>sourceSize</key>
                <string>{57,83}</string>
            </dict>
            <key>avoid.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,931},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>back_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,578},{101,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,34}}</string>
                <key>sourceSize</key>
                <string>{101,34}</string>
            </dict>
            <key>back_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,0},{71,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,25}}</string>
                <key>sourceSize</key>
                <string>{71,25}</string>
            </dict>
            <key>back_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,71},{36,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,22}}</string>
                <key>sourceSize</key>
                <string>{36,22}</string>
            </dict>
            <key>banner.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,487},{317,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{317,33}}</string>
                <key>sourceSize</key>
                <string>{317,33}</string>
            </dict>
            <key>building_sides_tops.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,456},{320,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,31}}</string>
                <key>sourceSize</key>
                <string>{320,31}</string>
            </dict>
            <key>chute.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,48},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>city.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,300},{320,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,94}}</string>
                <key>sourceSize</key>
                <string>{320,94}</string>
            </dict>
            <key>crack.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,394},{320,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,62}}</string>
                <key>sourceSize</key>
                <string>{320,62}</string>
            </dict>
            <key>deathscreen_score_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,0},{182,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,182}}</string>
                <key>sourceSize</key>
                <string>{182,182}</string>
            </dict>
            <key>easy.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,182},{113,182}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,182}}</string>
                <key>sourceSize</key>
                <string>{113,182}</string>
            </dict>
            <key>front_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,521},{171,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,59}}</string>
                <key>sourceSize</key>
                <string>{171,59}</string>
            </dict>
            <key>front_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,538},{118,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,40}}</string>
                <key>sourceSize</key>
                <string>{118,40}</string>
            </dict>
            <key>front_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,970},{76,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,45}}</string>
                <key>sourceSize</key>
                <string>{76,45}</string>
            </dict>
            <key>gameover_placard.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,408},{134,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,36}}</string>
                <key>sourceSize</key>
                <string>{134,36}</string>
            </dict>
            <key>hard.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,408},{113,180}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{113,180}}</string>
                <key>sourceSize</key>
                <string>{113,180}</string>
            </dict>
            <key>instructions1.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,606},{63,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,86}}</string>
                <key>sourceSize</key>
                <string>{63,86}</string>
            </dict>
            <key>instructions2.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,520},{63,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,86}}</string>
                <key>sourceSize</key>
                <string>{63,86}</string>
            </dict>
            <key>instructions_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,580},{163,228}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{163,228}}</string>
                <key>sourceSize</key>
                <string>{163,228}</string>
            </dict>
            <key>jetpack.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,107},{15,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,22}}</string>
                <key>sourceSize</key>
                <string>{15,22}</string>
            </dict>
            <key>jetpack_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,931},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>jetpackmenu00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,683},{78,77}}</string>
                <key>offset</key>
                <string>{-31,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,78},{78,77}}</string>
                <key>sourceSize</key>
                <string>{78,77}</string>
            </dict>
            <key>jetpackmenu00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,692},{58,71}}</string>
                <key>offset</key>
                <string>{-33,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,84},{58,71}}</string>
                <key>sourceSize</key>
                <string>{58,71}</string>
            </dict>
            <key>jetpackmenu00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,782},{58,71}}</string>
                <key>offset</key>
                <string>{-33,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,85},{58,71}}</string>
                <key>sourceSize</key>
                <string>{58,71}</string>
            </dict>
            <key>jetpackmenu00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,782},{60,71}}</string>
                <key>offset</key>
                <string>{-34,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,86},{60,71}}</string>
                <key>sourceSize</key>
                <string>{60,71}</string>
            </dict>
            <key>jetpackmenu00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,709},{60,73}}</string>
                <key>offset</key>
                <string>{-33,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,87},{60,73}}</string>
                <key>sourceSize</key>
                <string>{60,73}</string>
            </dict>
            <key>jetpackmenu00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,683},{56,71}}</string>
                <key>offset</key>
                <string>{-30,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,90},{56,71}}</string>
                <key>sourceSize</key>
                <string>{56,71}</string>
            </dict>
            <key>jetpackmenu00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,683},{56,75}}</string>
                <key>offset</key>
                <string>{-27,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,87},{56,75}}</string>
                <key>sourceSize</key>
                <string>{56,75}</string>
            </dict>
            <key>jetpackmenu00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,773},{58,75}}</string>
                <key>offset</key>
                <string>{-26,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,86},{58,75}}</string>
                <key>sourceSize</key>
                <string>{58,75}</string>
            </dict>
            <key>jetpackmenu00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,696},{58,77}}</string>
                <key>offset</key>
                <string>{-27,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,84},{58,77}}</string>
                <key>sourceSize</key>
                <string>{58,77}</string>
            </dict>
            <key>jetpackmenu00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,619},{58,77}}</string>
                <key>offset</key>
                <string>{-31,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,84},{58,77}}</string>
                <key>sourceSize</key>
                <string>{58,77}</string>
            </dict>
            <key>jetpackmenu00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,970},{52,77}}</string>
                <key>offset</key>
                <string>{-32,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,84},{52,77}}</string>
                <key>sourceSize</key>
                <string>{52,77}</string>
            </dict>
            <key>jetpackmenu00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,970},{46,77}}</string>
                <key>offset</key>
                <string>{-32,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,84},{46,77}}</string>
                <key>sourceSize</key>
                <string>{46,77}</string>
            </dict>
            <key>jetpackmenu00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,890},{42,77}}</string>
                <key>offset</key>
                <string>{-31,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,84},{42,77}}</string>
                <key>sourceSize</key>
                <string>{42,77}</string>
            </dict>
            <key>jetpackmenu00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,934},{42,77}}</string>
                <key>offset</key>
                <string>{-31,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,84},{42,77}}</string>
                <key>sourceSize</key>
                <string>{42,77}</string>
            </dict>
            <key>jetpackmenu00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,934},{42,77}}</string>
                <key>offset</key>
                <string>{-31,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,84},{42,77}}</string>
                <key>sourceSize</key>
                <string>{42,77}</string>
            </dict>
            <key>jetpackmenu00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,892},{42,77}}</string>
                <key>offset</key>
                <string>{-31,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,84},{42,77}}</string>
                <key>sourceSize</key>
                <string>{42,77}</string>
            </dict>
            <key>jetpackmenu00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,955},{42,77}}</string>
                <key>offset</key>
                <string>{-31,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,84},{42,77}}</string>
                <key>sourceSize</key>
                <string>{42,77}</string>
            </dict>
            <key>jetpackmenu00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,979},{44,77}}</string>
                <key>offset</key>
                <string>{-31,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,84},{44,77}}</string>
                <key>sourceSize</key>
                <string>{44,77}</string>
            </dict>
            <key>jetpackmenu00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,902},{44,77}}</string>
                <key>offset</key>
                <string>{-31,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,84},{44,77}}</string>
                <key>sourceSize</key>
                <string>{44,77}</string>
            </dict>
            <key>jetpackmenu00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,848},{44,77}}</string>
                <key>offset</key>
                <string>{-31,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,84},{44,77}}</string>
                <key>sourceSize</key>
                <string>{44,77}</string>
            </dict>
            <key>jetpackmenu00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,848},{42,77}}</string>
                <key>offset</key>
                <string>{-30,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,84},{42,77}}</string>
                <key>sourceSize</key>
                <string>{42,77}</string>
            </dict>
            <key>jetpackmenu00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,808},{42,77}}</string>
                <key>offset</key>
                <string>{-31,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,84},{42,77}}</string>
                <key>sourceSize</key>
                <string>{42,77}</string>
            </dict>
            <key>jetpackmenu00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,850},{42,77}}</string>
                <key>offset</key>
                <string>{-31,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,84},{42,77}}</string>
                <key>sourceSize</key>
                <string>{42,77}</string>
            </dict>
            <key>jetpackmenu00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,913},{42,77}}</string>
                <key>offset</key>
                <string>{-30,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,84},{42,77}}</string>
                <key>sourceSize</key>
                <string>{42,77}</string>
            </dict>
            <key>jetpackmenu00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,840},{44,77}}</string>
                <key>offset</key>
                <string>{-30,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,84},{44,77}}</string>
                <key>sourceSize</key>
                <string>{44,77}</string>
            </dict>
            <key>jetpackmenu00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,827},{44,77}}</string>
                <key>offset</key>
                <string>{-30,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,84},{44,77}}</string>
                <key>sourceSize</key>
                <string>{44,77}</string>
            </dict>
            <key>jetpackmenu00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,783},{44,77}}</string>
                <key>offset</key>
                <string>{-30,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,84},{44,77}}</string>
                <key>sourceSize</key>
                <string>{44,77}</string>
            </dict>
            <key>jetpackmenu00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,782},{44,77}}</string>
                <key>offset</key>
                <string>{-30,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,84},{44,77}}</string>
                <key>sourceSize</key>
                <string>{44,77}</string>
            </dict>
            <key>jetpackmenu00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,955},{42,77}}</string>
                <key>offset</key>
                <string>{-30,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,84},{42,77}}</string>
                <key>sourceSize</key>
                <string>{42,77}</string>
            </dict>
            <key>jetpackmenu00029.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,808},{42,77}}</string>
                <key>offset</key>
                <string>{-31,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,84},{42,77}}</string>
                <key>sourceSize</key>
                <string>{42,77}</string>
            </dict>
            <key>jetpackmenu00030.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,858},{44,77}}</string>
                <key>offset</key>
                <string>{-31,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,84},{44,77}}</string>
                <key>sourceSize</key>
                <string>{44,77}</string>
            </dict>
            <key>jetpackmenu00031.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,929},{44,77}}</string>
                <key>offset</key>
                <string>{-31,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,84},{44,77}}</string>
                <key>sourceSize</key>
                <string>{44,77}</string>
            </dict>
            <key>jetpackmenu00032.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,804},{44,77}}</string>
                <key>offset</key>
                <string>{-31,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,84},{44,77}}</string>
                <key>sourceSize</key>
                <string>{44,77}</string>
            </dict>
            <key>jetpackmenu00033.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,871},{42,77}}</string>
                <key>offset</key>
                <string>{-30,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,84},{42,77}}</string>
                <key>sourceSize</key>
                <string>{42,77}</string>
            </dict>
            <key>jetpackmenu00034.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,913},{42,77}}</string>
                <key>offset</key>
                <string>{-31,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,84},{42,77}}</string>
                <key>sourceSize</key>
                <string>{42,77}</string>
            </dict>
            <key>jetpackmenu00035.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,959},{42,77}}</string>
                <key>offset</key>
                <string>{-31,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,84},{42,77}}</string>
                <key>sourceSize</key>
                <string>{42,77}</string>
            </dict>
            <key>jetpackmenu00036.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,871},{42,77}}</string>
                <key>offset</key>
                <string>{-30,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,84},{42,77}}</string>
                <key>sourceSize</key>
                <string>{42,77}</string>
            </dict>
            <key>jetpackmenu00037.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,763},{44,77}}</string>
                <key>offset</key>
                <string>{-30,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,84},{44,77}}</string>
                <key>sourceSize</key>
                <string>{44,77}</string>
            </dict>
            <key>jetpackmenu00038.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,739},{44,77}}</string>
                <key>offset</key>
                <string>{-30,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,84},{44,77}}</string>
                <key>sourceSize</key>
                <string>{44,77}</string>
            </dict>
            <key>jetpackmenu00039.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,781},{44,77}}</string>
                <key>offset</key>
                <string>{-30,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,84},{44,77}}</string>
                <key>sourceSize</key>
                <string>{44,77}</string>
            </dict>
            <key>jetpackmenu00040.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,760},{44,77}}</string>
                <key>offset</key>
                <string>{-30,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,84},{44,77}}</string>
                <key>sourceSize</key>
                <string>{44,77}</string>
            </dict>
            <key>jetpackmenu00041.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,917},{42,77}}</string>
                <key>offset</key>
                <string>{-30,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,84},{42,77}}</string>
                <key>sourceSize</key>
                <string>{42,77}</string>
            </dict>
            <key>jetpackmenu00042.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,967},{42,77}}</string>
                <key>offset</key>
                <string>{-31,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,84},{42,77}}</string>
                <key>sourceSize</key>
                <string>{42,77}</string>
            </dict>
            <key>jetpackmenu00043.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,970},{44,77}}</string>
                <key>offset</key>
                <string>{-31,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,84},{44,77}}</string>
                <key>sourceSize</key>
                <string>{44,77}</string>
            </dict>
            <key>jetpackmenu00044.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,542},{44,77}}</string>
                <key>offset</key>
                <string>{-31,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,84},{44,77}}</string>
                <key>sourceSize</key>
                <string>{44,77}</string>
            </dict>
            <key>jetpackmenu00045.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,970},{44,77}}</string>
                <key>offset</key>
                <string>{-31,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,84},{44,77}}</string>
                <key>sourceSize</key>
                <string>{44,77}</string>
            </dict>
            <key>jetpackmenu00046.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,925},{42,77}}</string>
                <key>offset</key>
                <string>{-30,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,84},{42,77}}</string>
                <key>sourceSize</key>
                <string>{42,77}</string>
            </dict>
            <key>jetpackmenu00047.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,739},{42,77}}</string>
                <key>offset</key>
                <string>{-31,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,84},{42,77}}</string>
                <key>sourceSize</key>
                <string>{42,77}</string>
            </dict>
            <key>jetpackmenu00048.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,739},{42,77}}</string>
                <key>offset</key>
                <string>{-31,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,84},{42,77}}</string>
                <key>sourceSize</key>
                <string>{42,77}</string>
            </dict>
            <key>med.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,295},{113,180}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{113,180}}</string>
                <key>sourceSize</key>
                <string>{113,180}</string>
            </dict>
            <key>moon.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,739},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,122},{20,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{20,19}}</string>
                <key>sourceSize</key>
                <string>{20,19}</string>
            </dict>
            <key>objective_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,520},{163,252}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,10},{163,252}}</string>
                <key>sourceSize</key>
                <string>{163,252}</string>
            </dict>
            <key>parachutte.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,141},{19,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,18}}</string>
                <key>sourceSize</key>
                <string>{19,18}</string>
            </dict>
            <key>parachutte_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,679},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,25},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>placard.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,386},{143,38}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{143,38}}</string>
                <key>sourceSize</key>
                <string>{143,38}</string>
            </dict>
            <key>placard_facebook.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,300},{147,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,43}}</string>
                <key>sourceSize</key>
                <string>{147,43}</string>
            </dict>
            <key>placard_facebook_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,343},{147,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,43}}</string>
                <key>sourceSize</key>
                <string>{147,43}</string>
            </dict>
            <key>placard_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,500},{143,38}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{143,38}}</string>
                <key>sourceSize</key>
                <string>{143,38}</string>
            </dict>
            <key>placard_twitter.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,424},{143,38}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{143,38}}</string>
                <key>sourceSize</key>
                <string>{143,38}</string>
            </dict>
            <key>placard_twitter_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,462},{143,38}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{143,38}}</string>
                <key>sourceSize</key>
                <string>{143,38}</string>
            </dict>
            <key>rain.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,0},{300,472}}</string>
                <key>offset</key>
                <string>{8,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,0},{300,472}}</string>
                <key>sourceSize</key>
                <string>{300,472}</string>
            </dict>
            <key>rocket.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,0},{24,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,25}}</string>
                <key>sourceSize</key>
                <string>{24,25}</string>
            </dict>
            <key>star_field.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{320,490}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,490}}</string>
                <key>sourceSize</key>
                <string>{320,490}</string>
            </dict>
            <key>star_field2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,490},{320,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,480}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>sun.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,578},{104,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,110}}</string>
                <key>sourceSize</key>
                <string>{104,110}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>menu-clouds-hud.png</string>
            <key>size</key>
            <string>{1024,1023}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a2833e160c956d7d8705b9e4bf6fe1f5$</string>
            <key>textureFileName</key>
            <string>menu-clouds-hud.png</string>
        </dict>
    </dict>
</plist>
