<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>alienmenu00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,1170},{93,71}}</string>
                <key>offset</key>
                <string>{0,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{93,71}}</string>
                <key>sourceSize</key>
                <string>{93,71}</string>
            </dict>
            <key>alienmenu00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1853,0},{115,163}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{115,163}}</string>
                <key>sourceSize</key>
                <string>{115,163}</string>
            </dict>
            <key>alienmenu00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,275},{115,163}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{115,163}}</string>
                <key>sourceSize</key>
                <string>{115,163}</string>
            </dict>
            <key>alienmenu00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,112},{115,163}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{115,163}}</string>
                <key>sourceSize</key>
                <string>{115,163}</string>
            </dict>
            <key>avoid.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,1241},{77,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,77}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>chute.png</key>
            <dict>
                <key>frame</key>
                <string>{{1807,322},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>easy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1807,368},{226,366}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,366}}</string>
                <key>sourceSize</key>
                <string>{226,366}</string>
            </dict>
            <key>hard.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,550},{226,362}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{226,362}}</string>
                <key>sourceSize</key>
                <string>{226,362}</string>
            </dict>
            <key>instructions1.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,1920},{125,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,172}}</string>
                <key>sourceSize</key>
                <string>{125,172}</string>
            </dict>
            <key>instructions2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1920},{125,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,172}}</string>
                <key>sourceSize</key>
                <string>{125,172}</string>
            </dict>
            <key>instructions_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1352,322},{322,455}}</string>
                <key>offset</key>
                <string>{-1,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,20},{322,455}}</string>
                <key>sourceSize</key>
                <string>{322,455}</string>
            </dict>
            <key>jetpackmenu00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1853,115},{158,154}}</string>
                <key>offset</key>
                <string>{-62,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{295,156},{158,154}}</string>
                <key>sourceSize</key>
                <string>{158,154}</string>
            </dict>
            <key>jetpackmenu00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,0},{112,140}}</string>
                <key>offset</key>
                <string>{-65,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{315,170},{112,140}}</string>
                <key>sourceSize</key>
                <string>{112,140}</string>
            </dict>
            <key>jetpackmenu00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,740},{114,142}}</string>
                <key>offset</key>
                <string>{-66,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{313,169},{114,142}}</string>
                <key>sourceSize</key>
                <string>{114,142}</string>
            </dict>
            <key>jetpackmenu00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,1920},{118,142}}</string>
                <key>offset</key>
                <string>{-67,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{310,172},{118,142}}</string>
                <key>sourceSize</key>
                <string>{118,142}</string>
            </dict>
            <key>jetpackmenu00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,1920},{116,142}}</string>
                <key>offset</key>
                <string>{-65,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{313,177},{116,142}}</string>
                <key>sourceSize</key>
                <string>{116,142}</string>
            </dict>
            <key>jetpackmenu00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,1028},{110,142}}</string>
                <key>offset</key>
                <string>{-60,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{321,180},{110,142}}</string>
                <key>sourceSize</key>
                <string>{110,142}</string>
            </dict>
            <key>jetpackmenu00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,882},{112,146}}</string>
                <key>offset</key>
                <string>{-54,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{326,177},{112,146}}</string>
                <key>sourceSize</key>
                <string>{112,146}</string>
            </dict>
            <key>jetpackmenu00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,590},{114,150}}</string>
                <key>offset</key>
                <string>{-51,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{328,172},{114,150}}</string>
                <key>sourceSize</key>
                <string>{114,150}</string>
            </dict>
            <key>jetpackmenu00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,1920},{116,152}}</string>
                <key>offset</key>
                <string>{-54,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{324,169},{116,152}}</string>
                <key>sourceSize</key>
                <string>{116,152}</string>
            </dict>
            <key>jetpackmenu00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,438},{114,152}}</string>
                <key>offset</key>
                <string>{-61,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{318,170},{114,152}}</string>
                <key>sourceSize</key>
                <string>{114,152}</string>
            </dict>
            <key>jetpackmenu00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1142,386},{104,152}}</string>
                <key>offset</key>
                <string>{-65,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{319,170},{104,152}}</string>
                <key>sourceSize</key>
                <string>{104,152}</string>
            </dict>
            <key>jetpackmenu00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1142,490},{90,152}}</string>
                <key>offset</key>
                <string>{-63,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{328,170},{90,152}}</string>
                <key>sourceSize</key>
                <string>{90,152}</string>
            </dict>
            <key>jetpackmenu00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,1196},{82,152}}</string>
                <key>offset</key>
                <string>{-61,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{334,169},{82,152}}</string>
                <key>sourceSize</key>
                <string>{82,152}</string>
            </dict>
            <key>jetpackmenu00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1388,1143},{82,152}}</string>
                <key>offset</key>
                <string>{-61,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{334,169},{82,152}}</string>
                <key>sourceSize</key>
                <string>{82,152}</string>
            </dict>
            <key>jetpackmenu00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,1172},{82,152}}</string>
                <key>offset</key>
                <string>{-61,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{334,170},{82,152}}</string>
                <key>sourceSize</key>
                <string>{82,152}</string>
            </dict>
            <key>jetpackmenu00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1236,1143},{82,152}}</string>
                <key>offset</key>
                <string>{-61,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{334,170},{82,152}}</string>
                <key>sourceSize</key>
                <string>{82,152}</string>
            </dict>
            <key>jetpackmenu00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,1112},{84,152}}</string>
                <key>offset</key>
                <string>{-62,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{332,170},{84,152}}</string>
                <key>sourceSize</key>
                <string>{84,152}</string>
            </dict>
            <key>jetpackmenu00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,1112},{84,152}}</string>
                <key>offset</key>
                <string>{-61,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{333,170},{84,152}}</string>
                <key>sourceSize</key>
                <string>{84,152}</string>
            </dict>
            <key>jetpackmenu00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1388,1059},{84,152}}</string>
                <key>offset</key>
                <string>{-61,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{333,170},{84,152}}</string>
                <key>sourceSize</key>
                <string>{84,152}</string>
            </dict>
            <key>jetpackmenu00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,1088},{84,152}}</string>
                <key>offset</key>
                <string>{-61,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{333,170},{84,152}}</string>
                <key>sourceSize</key>
                <string>{84,152}</string>
            </dict>
            <key>jetpackmenu00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1236,1059},{84,152}}</string>
                <key>offset</key>
                <string>{-61,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{333,170},{84,152}}</string>
                <key>sourceSize</key>
                <string>{84,152}</string>
            </dict>
            <key>jetpackmenu00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1844,959},{84,152}}</string>
                <key>offset</key>
                <string>{-61,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{333,170},{84,152}}</string>
                <key>sourceSize</key>
                <string>{84,152}</string>
            </dict>
            <key>jetpackmenu00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1844,1043},{82,152}}</string>
                <key>offset</key>
                <string>{-61,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{334,170},{82,152}}</string>
                <key>sourceSize</key>
                <string>{82,152}</string>
            </dict>
            <key>jetpackmenu00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1540,980},{84,152}}</string>
                <key>offset</key>
                <string>{-60,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{334,170},{84,152}}</string>
                <key>sourceSize</key>
                <string>{84,152}</string>
            </dict>
            <key>jetpackmenu00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{1692,959},{84,152}}</string>
                <key>offset</key>
                <string>{-59,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{335,170},{84,152}}</string>
                <key>sourceSize</key>
                <string>{84,152}</string>
            </dict>
            <key>jetpackmenu00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,1028},{84,152}}</string>
                <key>offset</key>
                <string>{-59,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{335,170},{84,152}}</string>
                <key>sourceSize</key>
                <string>{84,152}</string>
            </dict>
            <key>jetpackmenu00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,1028},{84,152}}</string>
                <key>offset</key>
                <string>{-59,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{335,170},{84,152}}</string>
                <key>sourceSize</key>
                <string>{84,152}</string>
            </dict>
            <key>jetpackmenu00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{1142,666},{86,152}}</string>
                <key>offset</key>
                <string>{-60,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{333,170},{86,152}}</string>
                <key>sourceSize</key>
                <string>{86,152}</string>
            </dict>
            <key>jetpackmenu00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,1004},{84,152}}</string>
                <key>offset</key>
                <string>{-61,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{333,170},{84,152}}</string>
                <key>sourceSize</key>
                <string>{84,152}</string>
            </dict>
            <key>jetpackmenu00029.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,944},{84,152}}</string>
                <key>offset</key>
                <string>{-62,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{332,170},{84,152}}</string>
                <key>sourceSize</key>
                <string>{84,152}</string>
            </dict>
            <key>jetpackmenu00030.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,944},{84,152}}</string>
                <key>offset</key>
                <string>{-61,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{333,170},{84,152}}</string>
                <key>sourceSize</key>
                <string>{84,152}</string>
            </dict>
            <key>jetpackmenu00031.png</key>
            <dict>
                <key>frame</key>
                <string>{{1388,975},{84,152}}</string>
                <key>offset</key>
                <string>{-61,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{333,170},{84,152}}</string>
                <key>sourceSize</key>
                <string>{84,152}</string>
            </dict>
            <key>jetpackmenu00032.png</key>
            <dict>
                <key>frame</key>
                <string>{{1236,975},{84,152}}</string>
                <key>offset</key>
                <string>{-61,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{333,170},{84,152}}</string>
                <key>sourceSize</key>
                <string>{84,152}</string>
            </dict>
            <key>jetpackmenu00033.png</key>
            <dict>
                <key>frame</key>
                <string>{{1540,896},{84,152}}</string>
                <key>offset</key>
                <string>{-61,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{333,170},{84,152}}</string>
                <key>sourceSize</key>
                <string>{84,152}</string>
            </dict>
            <key>jetpackmenu00034.png</key>
            <dict>
                <key>frame</key>
                <string>{{1388,891},{84,152}}</string>
                <key>offset</key>
                <string>{-61,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{333,170},{84,152}}</string>
                <key>sourceSize</key>
                <string>{84,152}</string>
            </dict>
            <key>jetpackmenu00035.png</key>
            <dict>
                <key>frame</key>
                <string>{{1540,1064},{82,152}}</string>
                <key>offset</key>
                <string>{-61,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{334,170},{82,152}}</string>
                <key>sourceSize</key>
                <string>{82,152}</string>
            </dict>
            <key>jetpackmenu00036.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,920},{84,152}}</string>
                <key>offset</key>
                <string>{-60,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{334,170},{84,152}}</string>
                <key>sourceSize</key>
                <string>{84,152}</string>
            </dict>
            <key>jetpackmenu00037.png</key>
            <dict>
                <key>frame</key>
                <string>{{1236,891},{84,152}}</string>
                <key>offset</key>
                <string>{-59,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{335,170},{84,152}}</string>
                <key>sourceSize</key>
                <string>{84,152}</string>
            </dict>
            <key>jetpackmenu00038.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,860},{84,152}}</string>
                <key>offset</key>
                <string>{-59,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{335,170},{84,152}}</string>
                <key>sourceSize</key>
                <string>{84,152}</string>
            </dict>
            <key>jetpackmenu00039.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,860},{84,152}}</string>
                <key>offset</key>
                <string>{-59,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{335,170},{84,152}}</string>
                <key>sourceSize</key>
                <string>{84,152}</string>
            </dict>
            <key>jetpackmenu00040.png</key>
            <dict>
                <key>frame</key>
                <string>{{1142,580},{86,152}}</string>
                <key>offset</key>
                <string>{-60,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{333,170},{86,152}}</string>
                <key>sourceSize</key>
                <string>{86,152}</string>
            </dict>
            <key>jetpackmenu00041.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,836},{84,152}}</string>
                <key>offset</key>
                <string>{-61,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{333,170},{84,152}}</string>
                <key>sourceSize</key>
                <string>{84,152}</string>
            </dict>
            <key>jetpackmenu00042.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,776},{84,152}}</string>
                <key>offset</key>
                <string>{-62,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{332,170},{84,152}}</string>
                <key>sourceSize</key>
                <string>{84,152}</string>
            </dict>
            <key>jetpackmenu00043.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,776},{84,152}}</string>
                <key>offset</key>
                <string>{-61,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{333,170},{84,152}}</string>
                <key>sourceSize</key>
                <string>{84,152}</string>
            </dict>
            <key>jetpackmenu00044.png</key>
            <dict>
                <key>frame</key>
                <string>{{1588,812},{84,152}}</string>
                <key>offset</key>
                <string>{-61,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{333,170},{84,152}}</string>
                <key>sourceSize</key>
                <string>{84,152}</string>
            </dict>
            <key>jetpackmenu00045.png</key>
            <dict>
                <key>frame</key>
                <string>{{1142,752},{84,152}}</string>
                <key>offset</key>
                <string>{-61,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{333,170},{84,152}}</string>
                <key>sourceSize</key>
                <string>{84,152}</string>
            </dict>
            <key>jetpackmenu00046.png</key>
            <dict>
                <key>frame</key>
                <string>{{1588,728},{84,152}}</string>
                <key>offset</key>
                <string>{-61,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{333,170},{84,152}}</string>
                <key>sourceSize</key>
                <string>{84,152}</string>
            </dict>
            <key>jetpackmenu00047.png</key>
            <dict>
                <key>frame</key>
                <string>{{1588,644},{84,152}}</string>
                <key>offset</key>
                <string>{-61,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{333,170},{84,152}}</string>
                <key>sourceSize</key>
                <string>{84,152}</string>
            </dict>
            <key>jetpackmenu00048.png</key>
            <dict>
                <key>frame</key>
                <string>{{1692,1043},{82,152}}</string>
                <key>offset</key>
                <string>{-61,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{334,170},{82,152}}</string>
                <key>sourceSize</key>
                <string>{82,152}</string>
            </dict>
            <key>loading_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{640,960}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,960}}</string>
                <key>sourceSize</key>
                <string>{640,960}</string>
            </dict>
            <key>med.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,324},{226,362}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{226,362}}</string>
                <key>sourceSize</key>
                <string>{226,362}</string>
            </dict>
            <key>menu_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,960},{640,960}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,960}}</string>
                <key>sourceSize</key>
                <string>{640,960}</string>
            </dict>
            <key>objective_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1352,0},{322,501}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,21},{322,501}}</string>
                <key>sourceSize</key>
                <string>{322,501}</string>
            </dict>
            <key>placard.png</key>
            <dict>
                <key>frame</key>
                <string>{{1740,884},{284,75}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,5},{284,75}}</string>
                <key>sourceSize</key>
                <string>{284,75}</string>
            </dict>
            <key>placard_facebook.png</key>
            <dict>
                <key>frame</key>
                <string>{{1294,644},{294,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,86}}</string>
                <key>sourceSize</key>
                <string>{294,86}</string>
            </dict>
            <key>placard_facebook_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1294,730},{294,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,86}}</string>
                <key>sourceSize</key>
                <string>{294,86}</string>
            </dict>
            <key>placard_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1294,816},{284,75}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,5},{284,75}}</string>
                <key>sourceSize</key>
                <string>{284,75}</string>
            </dict>
            <key>placard_twitter.png</key>
            <dict>
                <key>frame</key>
                <string>{{1740,734},{284,75}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,5},{284,75}}</string>
                <key>sourceSize</key>
                <string>{284,75}</string>
            </dict>
            <key>placard_twitter_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1740,809},{284,75}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,5},{284,75}}</string>
                <key>sourceSize</key>
                <string>{284,75}</string>
            </dict>
            <key>rocket.png</key>
            <dict>
                <key>frame</key>
                <string>{{1296,324},{47,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,50}}</string>
                <key>sourceSize</key>
                <string>{47,50}</string>
            </dict>
            <key>stats_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,0},{572,324}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{572,324}}</string>
                <key>sourceSize</key>
                <string>{572,324}</string>
            </dict>
            <key>stats_tab.png</key>
            <dict>
                <key>frame</key>
                <string>{{1853,269},{156,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,62}}</string>
                <key>sourceSize</key>
                <string>{156,62}</string>
            </dict>
            <key>stats_tab_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1142,324},{154,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{154,62}}</string>
                <key>sourceSize</key>
                <string>{154,62}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>menu_items-hd.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:15f32380a54ab952830500d191745a6f$</string>
            <key>textureFileName</key>
            <string>menu_items-hd.png</string>
        </dict>
    </dict>
</plist>
