<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lightning_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,320},{196,480}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,0},{196,480}}</string>
                <key>sourceSize</key>
                <string>{196,480}</string>
            </dict>
            <key>lightning_bg4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{320,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,480}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>r_back_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,988},{101,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,34}}</string>
                <key>sourceSize</key>
                <string>{101,34}</string>
            </dict>
            <key>r_back_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,0},{71,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,25}}</string>
                <key>sourceSize</key>
                <string>{71,25}</string>
            </dict>
            <key>r_back_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,71},{36,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,22}}</string>
                <key>sourceSize</key>
                <string>{36,22}</string>
            </dict>
            <key>r_front_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,516},{171,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,59}}</string>
                <key>sourceSize</key>
                <string>{171,59}</string>
            </dict>
            <key>r_front_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,516},{118,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,40}}</string>
                <key>sourceSize</key>
                <string>{118,40}</string>
            </dict>
            <key>r_front_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,575},{76,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,45}}</string>
                <key>sourceSize</key>
                <string>{76,45}</string>
            </dict>
            <key>rain.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,516},{300,472}}</string>
                <key>offset</key>
                <string>{8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{300,472}}</string>
                <key>sourceSize</key>
                <string>{300,472}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>rain_scene_items.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0175ec8f26fb3db49f90db7fa079b95a$</string>
            <key>textureFileName</key>
            <string>rain_scene_items.png</string>
        </dict>
    </dict>
</plist>
