<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>moon.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,640},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>star_field.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{320,490}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,490}}</string>
                <key>sourceSize</key>
                <string>{320,490}</string>
            </dict>
            <key>star_field2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,320},{320,474}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,474}}</string>
                <key>sourceSize</key>
                <string>{320,474}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>space_scene_items.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2dedbcbeb2c931a9d3d4a42eaa16c7f0$</string>
            <key>textureFileName</key>
            <string>space_scene_items.png</string>
        </dict>
    </dict>
</plist>
