<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>banner.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,0},{633,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{633,65}}</string>
                <key>sourceSize</key>
                <string>{633,65}</string>
            </dict>
            <key>easy.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,72},{40,36}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{40,36}}</string>
                <key>sourceSize</key>
                <string>{40,36}</string>
            </dict>
            <key>hard.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,36},{40,36}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{40,36}}</string>
                <key>sourceSize</key>
                <string>{40,36}</string>
            </dict>
            <key>jetpack.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,143},{29,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,44}}</string>
                <key>sourceSize</key>
                <string>{29,44}</string>
            </dict>
            <key>jetpack_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,284},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,0},{40,36}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{40,36}}</string>
                <key>sourceSize</key>
                <string>{40,36}</string>
            </dict>
            <key>parachutte.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,108},{37,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,35}}</string>
                <key>sourceSize</key>
                <string>{37,35}</string>
            </dict>
            <key>parachutte_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,284},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,344},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>placard.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{284,75}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,5},{284,75}}</string>
                <key>sourceSize</key>
                <string>{284,75}</string>
            </dict>
            <key>placard_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,0},{284,75}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,5},{284,75}}</string>
                <key>sourceSize</key>
                <string>{284,75}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hud_items-hd.png</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a5153345282bc36c5c11adb5db4cd2cc$</string>
            <key>textureFileName</key>
            <string>hud_items-hd.png</string>
        </dict>
    </dict>
</plist>
