<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>alienmenu00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,239},{47,37}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{47,37}}</string>
                <key>sourceSize</key>
                <string>{47,37}</string>
            </dict>
            <key>alienmenu00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,114},{57,81}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{57,81}}</string>
                <key>sourceSize</key>
                <string>{57,81}</string>
            </dict>
            <key>alienmenu00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,57},{57,83}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{57,83}}</string>
                <key>sourceSize</key>
                <string>{57,83}</string>
            </dict>
            <key>alienmenu00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,0},{57,83}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{57,83}}</string>
                <key>sourceSize</key>
                <string>{57,83}</string>
            </dict>
            <key>avoid.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,543},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>chute.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,433},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>easy.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,163},{113,182}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,182}}</string>
                <key>sourceSize</key>
                <string>{113,182}</string>
            </dict>
            <key>hard.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,409},{113,180}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{113,180}}</string>
                <key>sourceSize</key>
                <string>{113,180}</string>
            </dict>
            <key>instructions1.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,960},{63,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,86}}</string>
                <key>sourceSize</key>
                <string>{63,86}</string>
            </dict>
            <key>instructions2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,960},{63,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,86}}</string>
                <key>sourceSize</key>
                <string>{63,86}</string>
            </dict>
            <key>instructions_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,162},{163,228}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,10},{163,228}}</string>
                <key>sourceSize</key>
                <string>{163,228}</string>
            </dict>
            <key>jetpackmenu00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,325},{78,77}}</string>
                <key>offset</key>
                <string>{-31,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,78},{78,77}}</string>
                <key>sourceSize</key>
                <string>{78,77}</string>
            </dict>
            <key>jetpackmenu00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,58},{58,71}}</string>
                <key>offset</key>
                <string>{-33,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,84},{58,71}}</string>
                <key>sourceSize</key>
                <string>{58,71}</string>
            </dict>
            <key>jetpackmenu00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,0},{58,71}}</string>
                <key>offset</key>
                <string>{-33,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,85},{58,71}}</string>
                <key>sourceSize</key>
                <string>{58,71}</string>
            </dict>
            <key>jetpackmenu00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,960},{60,71}}</string>
                <key>offset</key>
                <string>{-34,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,86},{60,71}}</string>
                <key>sourceSize</key>
                <string>{60,71}</string>
            </dict>
            <key>jetpackmenu00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,960},{60,73}}</string>
                <key>offset</key>
                <string>{-33,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,87},{60,73}}</string>
                <key>sourceSize</key>
                <string>{60,73}</string>
            </dict>
            <key>jetpackmenu00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,116},{56,71}}</string>
                <key>offset</key>
                <string>{-30,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,90},{56,71}}</string>
                <key>sourceSize</key>
                <string>{56,71}</string>
            </dict>
            <key>jetpackmenu00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,247},{56,75}}</string>
                <key>offset</key>
                <string>{-27,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,87},{56,75}}</string>
                <key>sourceSize</key>
                <string>{56,75}</string>
            </dict>
            <key>jetpackmenu00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,172},{58,75}}</string>
                <key>offset</key>
                <string>{-26,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,86},{58,75}}</string>
                <key>sourceSize</key>
                <string>{58,75}</string>
            </dict>
            <key>jetpackmenu00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,162},{58,77}}</string>
                <key>offset</key>
                <string>{-27,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,84},{58,77}}</string>
                <key>sourceSize</key>
                <string>{58,77}</string>
            </dict>
            <key>jetpackmenu00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,960},{58,77}}</string>
                <key>offset</key>
                <string>{-31,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,84},{58,77}}</string>
                <key>sourceSize</key>
                <string>{58,77}</string>
            </dict>
            <key>jetpackmenu00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,322},{52,77}}</string>
                <key>offset</key>
                <string>{-32,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,84},{52,77}}</string>
                <key>sourceSize</key>
                <string>{52,77}</string>
            </dict>
            <key>jetpackmenu00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,276},{46,77}}</string>
                <key>offset</key>
                <string>{-32,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,84},{46,77}}</string>
                <key>sourceSize</key>
                <string>{46,77}</string>
            </dict>
            <key>jetpackmenu00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,517},{42,77}}</string>
                <key>offset</key>
                <string>{-31,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,84},{42,77}}</string>
                <key>sourceSize</key>
                <string>{42,77}</string>
            </dict>
            <key>jetpackmenu00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,660},{42,77}}</string>
                <key>offset</key>
                <string>{-31,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,84},{42,77}}</string>
                <key>sourceSize</key>
                <string>{42,77}</string>
            </dict>
            <key>jetpackmenu00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,627},{42,77}}</string>
                <key>offset</key>
                <string>{-31,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,84},{42,77}}</string>
                <key>sourceSize</key>
                <string>{42,77}</string>
            </dict>
            <key>jetpackmenu00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,618},{42,77}}</string>
                <key>offset</key>
                <string>{-31,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,84},{42,77}}</string>
                <key>sourceSize</key>
                <string>{42,77}</string>
            </dict>
            <key>jetpackmenu00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,585},{42,77}}</string>
                <key>offset</key>
                <string>{-31,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,84},{42,77}}</string>
                <key>sourceSize</key>
                <string>{42,77}</string>
            </dict>
            <key>jetpackmenu00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,430},{44,77}}</string>
                <key>offset</key>
                <string>{-31,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,84},{44,77}}</string>
                <key>sourceSize</key>
                <string>{44,77}</string>
            </dict>
            <key>jetpackmenu00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,389},{44,77}}</string>
                <key>offset</key>
                <string>{-31,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,84},{44,77}}</string>
                <key>sourceSize</key>
                <string>{44,77}</string>
            </dict>
            <key>jetpackmenu00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,389},{44,77}}</string>
                <key>offset</key>
                <string>{-31,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,84},{44,77}}</string>
                <key>sourceSize</key>
                <string>{44,77}</string>
            </dict>
            <key>jetpackmenu00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,556},{42,77}}</string>
                <key>offset</key>
                <string>{-30,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,84},{42,77}}</string>
                <key>sourceSize</key>
                <string>{42,77}</string>
            </dict>
            <key>jetpackmenu00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,517},{42,77}}</string>
                <key>offset</key>
                <string>{-31,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,84},{42,77}}</string>
                <key>sourceSize</key>
                <string>{42,77}</string>
            </dict>
            <key>jetpackmenu00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,553},{42,77}}</string>
                <key>offset</key>
                <string>{-31,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,84},{42,77}}</string>
                <key>sourceSize</key>
                <string>{42,77}</string>
            </dict>
            <key>jetpackmenu00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,576},{42,77}}</string>
                <key>offset</key>
                <string>{-30,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,84},{42,77}}</string>
                <key>sourceSize</key>
                <string>{42,77}</string>
            </dict>
            <key>jetpackmenu00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,476},{44,77}}</string>
                <key>offset</key>
                <string>{-30,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,84},{44,77}}</string>
                <key>sourceSize</key>
                <string>{44,77}</string>
            </dict>
            <key>jetpackmenu00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,490},{44,77}}</string>
                <key>offset</key>
                <string>{-30,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,84},{44,77}}</string>
                <key>sourceSize</key>
                <string>{44,77}</string>
            </dict>
            <key>jetpackmenu00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,457},{44,77}}</string>
                <key>offset</key>
                <string>{-30,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,84},{44,77}}</string>
                <key>sourceSize</key>
                <string>{44,77}</string>
            </dict>
            <key>jetpackmenu00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,446},{44,77}}</string>
                <key>offset</key>
                <string>{-30,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,84},{44,77}}</string>
                <key>sourceSize</key>
                <string>{44,77}</string>
            </dict>
            <key>jetpackmenu00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,543},{42,77}}</string>
                <key>offset</key>
                <string>{-30,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,84},{42,77}}</string>
                <key>sourceSize</key>
                <string>{42,77}</string>
            </dict>
            <key>jetpackmenu00029.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,534},{42,77}}</string>
                <key>offset</key>
                <string>{-31,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,84},{42,77}}</string>
                <key>sourceSize</key>
                <string>{42,77}</string>
            </dict>
            <key>jetpackmenu00030.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,413},{44,77}}</string>
                <key>offset</key>
                <string>{-31,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,84},{44,77}}</string>
                <key>sourceSize</key>
                <string>{44,77}</string>
            </dict>
            <key>jetpackmenu00031.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,402},{44,77}}</string>
                <key>offset</key>
                <string>{-31,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,84},{44,77}}</string>
                <key>sourceSize</key>
                <string>{44,77}</string>
            </dict>
            <key>jetpackmenu00032.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,389},{44,77}}</string>
                <key>offset</key>
                <string>{-31,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,84},{44,77}}</string>
                <key>sourceSize</key>
                <string>{44,77}</string>
            </dict>
            <key>jetpackmenu00033.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,501},{42,77}}</string>
                <key>offset</key>
                <string>{-30,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,84},{42,77}}</string>
                <key>sourceSize</key>
                <string>{42,77}</string>
            </dict>
            <key>jetpackmenu00034.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,479},{42,77}}</string>
                <key>offset</key>
                <string>{-31,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,84},{42,77}}</string>
                <key>sourceSize</key>
                <string>{42,77}</string>
            </dict>
            <key>jetpackmenu00035.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,475},{42,77}}</string>
                <key>offset</key>
                <string>{-31,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,84},{42,77}}</string>
                <key>sourceSize</key>
                <string>{42,77}</string>
            </dict>
            <key>jetpackmenu00036.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,475},{42,77}}</string>
                <key>offset</key>
                <string>{-30,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,84},{42,77}}</string>
                <key>sourceSize</key>
                <string>{42,77}</string>
            </dict>
            <key>jetpackmenu00037.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,402},{44,77}}</string>
                <key>offset</key>
                <string>{-30,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,84},{44,77}}</string>
                <key>sourceSize</key>
                <string>{44,77}</string>
            </dict>
            <key>jetpackmenu00038.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,369},{44,77}}</string>
                <key>offset</key>
                <string>{-30,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,84},{44,77}}</string>
                <key>sourceSize</key>
                <string>{44,77}</string>
            </dict>
            <key>jetpackmenu00039.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,325},{44,77}}</string>
                <key>offset</key>
                <string>{-30,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,84},{44,77}}</string>
                <key>sourceSize</key>
                <string>{44,77}</string>
            </dict>
            <key>jetpackmenu00040.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,325},{44,77}}</string>
                <key>offset</key>
                <string>{-30,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,84},{44,77}}</string>
                <key>sourceSize</key>
                <string>{44,77}</string>
            </dict>
            <key>jetpackmenu00041.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,507},{42,77}}</string>
                <key>offset</key>
                <string>{-30,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,84},{42,77}}</string>
                <key>sourceSize</key>
                <string>{42,77}</string>
            </dict>
            <key>jetpackmenu00042.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,466},{42,77}}</string>
                <key>offset</key>
                <string>{-31,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,84},{42,77}}</string>
                <key>sourceSize</key>
                <string>{42,77}</string>
            </dict>
            <key>jetpackmenu00043.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,399},{44,77}}</string>
                <key>offset</key>
                <string>{-31,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,84},{44,77}}</string>
                <key>sourceSize</key>
                <string>{44,77}</string>
            </dict>
            <key>jetpackmenu00044.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,528},{44,77}}</string>
                <key>offset</key>
                <string>{-31,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,84},{44,77}}</string>
                <key>sourceSize</key>
                <string>{44,77}</string>
            </dict>
            <key>jetpackmenu00045.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,353},{44,77}}</string>
                <key>offset</key>
                <string>{-31,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,84},{44,77}}</string>
                <key>sourceSize</key>
                <string>{44,77}</string>
            </dict>
            <key>jetpackmenu00046.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,433},{42,77}}</string>
                <key>offset</key>
                <string>{-30,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,84},{42,77}}</string>
                <key>sourceSize</key>
                <string>{42,77}</string>
            </dict>
            <key>jetpackmenu00047.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,433},{42,77}}</string>
                <key>offset</key>
                <string>{-31,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,84},{42,77}}</string>
                <key>sourceSize</key>
                <string>{42,77}</string>
            </dict>
            <key>jetpackmenu00048.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,451},{42,77}}</string>
                <key>offset</key>
                <string>{-31,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,84},{42,77}}</string>
                <key>sourceSize</key>
                <string>{42,77}</string>
            </dict>
            <key>loading_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{320,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,480}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>med.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,276},{113,180}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{113,180}}</string>
                <key>sourceSize</key>
                <string>{113,180}</string>
            </dict>
            <key>menu_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,480},{320,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,480}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>objective_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,0},{163,252}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,10},{163,252}}</string>
                <key>sourceSize</key>
                <string>{163,252}</string>
            </dict>
            <key>placard.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,371},{143,38}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{143,38}}</string>
                <key>sourceSize</key>
                <string>{143,38}</string>
            </dict>
            <key>placard_facebook.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,171},{147,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,43}}</string>
                <key>sourceSize</key>
                <string>{147,43}</string>
            </dict>
            <key>placard_facebook_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,214},{147,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,43}}</string>
                <key>sourceSize</key>
                <string>{147,43}</string>
            </dict>
            <key>placard_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,333},{143,38}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{143,38}}</string>
                <key>sourceSize</key>
                <string>{143,38}</string>
            </dict>
            <key>placard_twitter.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,257},{143,38}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{143,38}}</string>
                <key>sourceSize</key>
                <string>{143,38}</string>
            </dict>
            <key>placard_twitter_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,295},{143,38}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{143,38}}</string>
                <key>sourceSize</key>
                <string>{143,38}</string>
            </dict>
            <key>rocket.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,409},{24,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,25}}</string>
                <key>sourceSize</key>
                <string>{24,25}</string>
            </dict>
            <key>stats_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,0},{286,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,162}}</string>
                <key>sourceSize</key>
                <string>{286,162}</string>
            </dict>
            <key>stats_tab.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,295},{78,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,31}}</string>
                <key>sourceSize</key>
                <string>{78,31}</string>
            </dict>
            <key>stats_tab_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,373},{78,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,31}}</string>
                <key>sourceSize</key>
                <string>{78,31}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>menu_items.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1486841599ea75cdbce46ebdff12fe44$</string>
            <key>textureFileName</key>
            <string>menu_items.png</string>
        </dict>
    </dict>
</plist>
